{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        //this plugin helps modify imports
        //this plugin will be used to modify ant design defaults
        [
            "import",
        {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true
        }
    ]
]
}