body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navbar{
    height: 100px;
    width: 100vw;
    background-color: #ff66cc;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kbd {
    background-color: #ffffff;
}

.search {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.mid {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.page {
    margin-bottom: 15px;
}

.paragraph {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.footer {
    height: 100px;
    background-color: #ff66cc;
    justify-content: center;
    justify-items: center;
    text-align: center;
}